<nav class="navbar navbar-expand-lg bg-info bg-opacity-25 shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['home']"
      ><i class="bi-house-fill"></i>TODO</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            aria-current="page"
            [routerLink]="['account']"
            >Account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" [routerLink]="['personallist']"
            >my List</a
          >
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              my List
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['personallist']">Personal</a></li>
              <li><a class="dropdown-item" [routerLink]="['worklist']">Work</a></li>
               <li><hr class="dropdown-divider"></li>
            </ul>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link fw-bold" [routerLink]="['notes']" role="button">
              my Notes
            </a>
          </li> -->
      </ul>
      <img
        [src]="url"
        [routerLink]="['account']"
        class="rounded-circle profile"
        width="35"
      />
      <button
        class="btn border border-0 text-white rounded-0 fw-bold fs-5"
        type="submit"
        (click)="logout()"
      >
        LogOut
      </button>
    </div>
  </div>
</nav>
