<div class="d-flex flex-row justify-content-between">
  <div
    class="col-sm-6 d-flex justify-content-center align-items-center py-5 mt-5"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input
        type="text"
        class="email form-control"
        required
        formControlName="email"
        name="email"
      />
      <div *ngIf="email?.invalid && email?.touched" class="alert alert-danger">
        <div *ngIf="email?.errors?.['required']">email is required</div>
        <div *ngIf="email?.errors?.['email']">email format is required</div>
      </div>
      <br />
      <label for="password">Password</label>
      <input
        type="password"
        class="password form-control"
        required
        formControlName="password"
        name="password"
      />
      <div
        *ngIf="password?.invalid && password?.touched"
        class="alert alert-danger"
      >
        <div *ngIf="password?.errors?.['required']">password is required</div>
      </div>
      <br />
      <input class="btn btn-primary" type="submit" value="login" />
      <br />
    </form>
  </div>
  <div
    class="col-sm-6 d-flex justify-content-center bg-dark bg-opacity-25 shadow vh-100"
  >
    <div class="d-flex align-items-center card card-1 border-0 rounded-0">
      <img
        src="../../assets//to-do-list.png"
        class="card-img-top pt-5"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Welcome to TODO</h5>
        <p class="card-text">Don't have an account?</p>
        <a [routerLink]="['/register']" class="btn btn-primary">Register now</a>
      </div>
    </div>
  </div>
</div>
