<div class="container-fluid">
  <div class="d-flex justify-content-center mt-5">
    <div class="card shadow bg-light bg-opacity-25" width="30 rem">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="saveTask()">
          <label for="title">Task:</label>
          <input
            type="text"
            class="form1 form-control"
            formControlName="title"
          />
          <br />
          <label for="status">Status:</label>
          <select class="form-select" formControlName="status">
            <option>todo</option>
            <option>progress</option>
            <option>review</option>
            <option>done</option>
          </select>
          <br />
          <label for="desc">Notes:</label>
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            formControlName="desc"
          ></textarea>
          <br />
          <input
            type="submit"
            class="btn rounded-0 shadow fw-bold"
            value="Save"
            style="margin-left: 170px; background-color: rgba(242, 148, 146, 1)"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 p-5">
  <div
    *ngFor="let item of taskData; let index = index"
    class="card-1 card shadow bg-light bg-opacity-25"
  >
    <div class="card-body input-group">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="card d-flex align-items-center pt-5 bg-light bg-opacity-25 shadow" style="width:300px">
          <span class="pt-4 fs-3" style="font-family:'Times New Roman',Times, serif;">
           {{ item.title }}
          </span>
        </div>
          <div class="card bg-light bg-opacity-25 shadow" style="width:300px">
          <p class=" ms-3 me-3 pt-3">Notes: <i class="mt-1 bi-caret-right-fill"></i> {{ item.desc }}</p>
        </div>
          <div>
            <div
              for="checkbox"
              id="add-card"
              class="card shadow bg-light bg-opacity-25"
              [ngClass]="check[idIndex]._id === item._id ? 'add-card' : null"
            >
              <div class="card-body">
                <p>Date created: {{ item.createdAt }}</p>
                <p>Date updated: {{ item.updatedAt }}</p>
                <p>
                  Status:
                  <span class="text-primary fw-bold">{{ item.status }}</span>
                </p>
                <button
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal"
                  id="myInput"
                  (click)="createModal(item)"
                  style="background-color: rgba(242, 148, 146, 1)"
                >
                  Edit task
                </button>
              </div>
            </div>
          </div>

          <!-- <div *ngIf="check[index]._id !== item._id">no data</div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngFor="let item of taskData; let index1 = index"
  class="modal"
  id="myModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update TODO list</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="container-fluid modal-body">
          <div class="d-flex justify-content-center input-group mb-3">
            <form [formGroup]="formEdit">
              <label class="" for="title">Task:</label><br />
              <!-- <input type="text"  class="form1 form-control" formControlName="title" > -->
              <h3 id="title">{{ check[idIndex].title }}</h3>
              <br />
              <label for="status">Status:</label>
              <select class="form-select" formControlName="status">
                <option>todo</option>
                <option>progress</option>
                <option>review</option>
                <option>done</option>
              </select>
              <br />
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            style="background-color: rgba(242, 148, 146, 1)"
            (click)="updateTask(check[idIndex]._id)"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Update
          </button>
          <button
            type="button"
            class="btn"
            style="background-color: rgb(231, 64, 61)"
            (click)="deleteTask(check[idIndex]._id)"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
