<div class="background">
  <div class="container" >
    <div class="d-flex justify-content-center">
      <div class="wrap mt-5 py-5">
        <button [routerLink]="['login']" class="button">GET STARTED</button>
      </div>
    </div>
  </div>
  <div class="container-sm mb-5 pt-5">
    <div class="d-flex flex-column justify-content-between">
      <div class="container-fluid">
        <div
          class="card card-1 d-flex flex-row align-items-center shadow"
          style="width: 20 rem"
        >
          <div class="ms-4 col-sm-5 col-lg-2">
            <img
              src="../../assets/32.jpg"
              class="card-img-top"
              alt="..."
              style="width: 200px"
            />
          </div>
          <div class="ms-4 col-sm-5 col-lg-10">
            <div class="card-body">
              <h5 class="card-title">TO DO list</h5>
              <p class="card-text">
                Create your first to do list by clicking
                <a [routerLink]="['home']">Here</a>!!
              </p>
              <ul
                class="list-group ul-list-1 shadow"
                style="width: max-content"
              >
                <li class="list-group-item">Your 1st to do item</li>
                <li class="list-group-item">Your 2nd to do item</li>
                <li class="list-group-item">Your 3rd to do item</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 py-5">

  </div>
  <div
  class="d-flex mt-5 flex-column text-center justify-content-center bg-light bg-opacity-25"
  style="height: 300px"
>
  <h3>Stay Organized</h3>
  <h5>Create, update, and remove your tasks with TODO</h5>
  <p>
    FAQs <i class="bi-balloon-heart-fill"></i> Privacy
    <i class="bi-balloon-heart-fill"></i> Licensing
  </p>
  <div class="d-flex text-center justify-content-center">
    <i class="bi-twitter me-5"></i> <i class="bi-instagram me-5"></i>
    <i class="bi-linkedin me-5"> </i><i class="bi-youtube me-5"></i>
    <i class="bi-facebook me-5"></i>
  </div>
  <h6><i class="bi-c-circle"></i>TODO 2022</h6>
</div>
</div>

