<div class="container pt-5">
  <div class="d-flex justify-content-center">
    <!-- <button class="create rounded shadow" data-bs-toggle="modal" data-bs-target="#myModal" id="myInput"
            (click)="createModal()"><span id="span-create">Create
                a list</span></button> -->
    <button class="create rounded shadow" id="myInput" (click)="create()">
      <span id="span-create">Create a list</span>
    </button>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new TODO list</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="inputGroupSelect01"
              style="background-color: rgba(242, 148, 146, 1)"
              >Category</label
            >
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Work</option>
              <option value="2">Personal</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            style="background-color: rgba(242, 148, 146, 1)"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-sm pt-5">
  <div class="d-flex flex-column justify-content-between">
    <div class="container-fluid">
      <div class="card card-1 d-flex flex-row align-items-center shadow">
        <div class="ms-4 col-sm-5 col-md-4 col-lg-2 my-2">
          <img
            src="../../assets/2920019.jpg"
            class="card-img-top"
            alt="..."
            style="width: 200px"
          />
        </div>
        <div class="ms-4 col-sm-7 col-md-8 col-lg-10">
          <div class="card-body">
            <h5 class="card-title">Your top TODO list</h5>
            <p class="card-text">
              Here is your top two must do tasks according to latest update:
            </p>
            <ul class="list-group ul-list-1 shadow" style="width: max-content">
              <li *ngFor="let item of taskData" class="list-group-item">
                {{ item?.title }}
              </li>
              <!-- <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5">
      <div
        class="card card-1 d-flex flex-row align-items-center shadow"
        style="width: 20 rem"
      >
        <div class="ms-4 col-sm-5">
          <h5 class="card-title">Got something on your mind?</h5>
          <h6 class="card-subtitle mb-2 text-muted">Type it out!!</h6>
          <p class="card-text">
            Write your heart out and no one will know
          </p>
        </div>
        <div class="ms-4 col-sm-7">
          <div class="card-body">
            <textarea
              style="background-color: #fff; color: rgb(3, 3, 3)"
              ng-model="message"
              cols="60"
              rows="10"
            ></textarea>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex mt-5 flex-column text-center justify-content-center bg-light bg-opacity-25"
  style="height: 300px"
>
  <h3>Stay Organized</h3>
  <h5>Create, update, and remove your tasks with TODO</h5>
  <p>
    FAQs <i class="bi-balloon-heart-fill"></i> Privacy
    <i class="bi-balloon-heart-fill"></i> Licensing
  </p>
  <div class="d-flex text-center justify-content-center">
    <i class="bi-twitter me-5"></i> <i class="bi-instagram me-5"></i>
    <i class="bi-linkedin me-5"> </i><i class="bi-youtube me-5"></i>
    <i class="bi-facebook me-5"></i>
  </div>
  <h6><i class="bi-c-circle"></i>TODO 2022</h6>
</div>
<div class="py-5">

</div>
