.button-create{
    background-color: rgb(242, 202, 94);
    width: 300px;
    height:70px;   
}
  
  .create{
    display: block;
    width: 300px;
    height: 70px;
    line-height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    opacity: 100%;
    background-color:rgb(221, 185, 185);
    
  }
  
  #span-create{
    position: relative;
    z-index: 2;
  }
  
  .create:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f3e3b1;
    transition: all .35s;
    border-radius:3%
  }
  
  /* .create:hover{
    color: #fff;
  } */
  
  .create:hover:after{
    width: 100%; 
  }

  .card-1{
    background-color: rgba(168, 239, 236, 0.495);
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    /* margin: 0 auto; */
    /* padding: 40px 20px; */
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
  }
  .card:hover {
    transform:scale(1.1);
  }

