<div class="container-fluid">
  <div class="d-flex justify-content-center py-5">
    <div class="card bg-light bg-opacity-50" style="width: 50 rem">
      <div class="text-center">
        <img
          [src]="url"
          class="card-img-top rounded-circle py-5 profpic"
          alt="user image"
          style="width: 200px"
        />
      </div>
      <div class="d-flex justify-content-end me-5">
        <button
          type="button"
          class="card-link btn btn-info shadow"
          data-bs-toggle="modal"
          data-bs-target="#myModal"
          id="myInput"
          (click)="editUser()"
        >
          <i class="bi-pencil-square"></i> Edit Profile
        </button>
      </div>
      <hr class="border border-dark border-2" />
      <div class="card-body">
        <h4 class="card-title pb-5 text-center">{{ myUser.name }}</h4>
        <div class="d-flex">
          <p class="card-text mx-5">
            <span style="font-weight: bold">ID: </span>{{ myUser._id }}
          </p>
          <p class="card-text mx-5">
            <span style="font-weight: bold">Email: </span>{{ myUser.email }}
          </p>
          <p class="card-text mx-5">
            <span style="font-weight: bold">Member since: </span
            >{{ myUser.registerAt }}
          </p>
        </div>
        <!-- <div class="d-flex justify-content-end me-5 mt-4">
          <button type="button" class="card-link btn btn-info shadow">
            <i class="bi-pencil-square"></i> Edit Profile
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="container-fluid modal-body">
          <div class="d-flex justify-content-center input-group mb-3">
            <div>
              <form [formGroup]="formEdit">
                <label class="" for="name">Name:</label><br />
                <input
                  type="text"
                  class="form1 form-control"
                  formControlName="name"
                />
                <br />
                <label class="" for="email">Email:</label><br />
                <input
                  type="text"
                  class="form1 form-control"
                  formControlName="email"
                />
                <br />
              </form>
            </div>
            <div>
              <label class="" for="profilePicture"
                >Update profile picture:</label
              ><br />
              <input type="file" id="file" (change)="onSelectFile($event)" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            style="background-color: rgba(242, 148, 146, 1)"
            (click)="updateProfile()"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="d-flex mt-5 flex-column text-center justify-content-center bg-light bg-opacity-25"
  style="height: 300px"
>
  <h3>Stay Organized</h3>
  <h5>Create, update, and remove your tasks with TODO</h5>
  <p>
    FAQs <i class="bi-balloon-heart-fill"></i> Privacy
    <i class="bi-balloon-heart-fill"></i> Licensing
  </p>
  <div class="d-flex text-center justify-content-center">
    <i class="bi-twitter me-5"></i> <i class="bi-instagram me-5"></i>
    <i class="bi-linkedin me-5"> </i><i class="bi-youtube me-5"></i>
    <i class="bi-facebook me-5"></i>
  </div>
  <h6><i class="bi-c-circle"></i>TODO 2022</h6>
</div>
