<div class="d-flex flex-row justify-content-between">
  <div
    class="col-sm-6 d-flex justify-content-center bg-dark bg-opacity-25 shadow vh-100"
  >
    <div class="d-flex align-items-center card card-1 border-0 rounded-0 w-100">
      <img
        src="../../assets/6930407.png"
        style="width: 300px"
        class="card-img-top mt-5"
        alt="..."
      />
      <div class="card-body vh-100">
        <h5 class="card-title">Glad to know you're joining TODO!</h5>
        <p class="card-text">Already have an account?</p>
        <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-flex justify-content-center align-items-center mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input
        type="text"
        class="name form-control"
        required
        formControlName="name"
        name="name"
      />
      <div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
        <div *ngIf="name?.errors?.['required']">name is required</div>
      </div>
      <br />
      <label for="email">Email</label>
      <input
        type="text"
        class="email form-control"
        required
        formControlName="email"
        name="email"
      />
      <div *ngIf="email?.invalid && email?.touched" class="alert alert-danger">
        <div *ngIf="email?.errors?.['required']">email is required</div>
        <div *ngIf="email?.errors?.['email']">email format is required</div>
      </div>
      <br />
      <label for="password">Password</label>
      <input
        type="password"
        class="password form-control"
        required
        minlength="8"
        formControlName="password"
        name="password"
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="password?.errors?.['required']">password is required</div>
        <div *ngIf="password?.errors?.['minlength']">
          password is required to have at least 8 characters
        </div>
      </div>
      <br />
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        class="confirm-password form-control"
        required
        formControlName="confirmPassword"
        name="confirmPassword"
      />
      <div
        *ngIf="
          !(confirmPassword?.value === password?.value || !confirmPassword)
        "
        class="alert alert-danger"
      >
        password does not match
        <!-- <button class="btn btn-primary" type="submit" disabled>Register</button> -->
      </div>
      <br />
      <button
        class="btn text-black fw-bold shadow"
        type="submit"
        style="background-color: rgba(133, 238, 233, 0.543)"
      >
        Register
      </button>
      <!-- <div *ngIf="(confirmPassword?.value===password?.value)">
                
            </div> -->
    </form>
  </div>
</div>
