.card-1{
    background-color: rgba(195, 240, 238, 0.894);
  }
  .name:hover {
    transform:scale(1.1);
  }
  .email:hover {
    transform:scale(1.1);
  }
  .password:hover {
    transform:scale(1.1);
  }

  .confirm-password:hover {
    transform:scale(1.1);
  }